.container_general {
    width: 100%;
    margin: 0px;
}

.btn-settings {
    color: rgb(35, 35, 35);
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.btn_settingContainer {
    display: flex;
    justify-content: start;
}

.btn_settingContainer :hover {
    color: rgb(35, 35, 35);
}

.btn-grip {
    margin-right: 10px;
    border: 0px;
    border-radius: 4px;
}

.btn_create {
    display: flex;
    justify-content: end;
}

.photos {
    padding: 1px;
}

.navbar_first {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navbar_second {
    margin-top: 80px;
    margin-bottom: 10px;
    z-index: 1;
}

/* * {
    border: 1px solid red;
} */