.container_photosDetail {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    width: 100%;
}


.card-title {
    padding-left: 10px;
    justify-items: start;
}

.card_page {
    color: grey;
    width: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: end;
}

.card_photos {
    margin-top: 20px;
}

.card_likes {
    padding-left: 10px;
}

.card_image_description {
    padding: 10px;

}

.card_body {
    padding: 0px;

}

.card_body_title_page {
    display: flex;
    flex-direction: row;
}

.card_image {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.card_comment_container {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: grey;
    align-items: center;
}


.fa-heart {
    color: grey;
}

.card_settings {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 10px;
    color: black;
}